[submodule "rofi-power-menu"]
	path = rofi-power-menu
	url = git@github.com:takagi/rofi-power-menu.git
[submodule "wallpapers"]
	path = wallpapers
	url = git@github.com:takagi/wallpapers.git
[submodule "dotfiles-secrets"]
	path = dotfiles-secrets
	url = git@github.com:takagi/dotfiles-secrets.git
[submodule "polybar-pulseaudio-control"]
	path = polybar-pulseaudio-control
	url = git@github.com:takagi/polybar-pulseaudio-control.git
